In [1]:
%cd /app
import sys

sys.path.append("src")

/app

In [2]:
# Import PySpark related modules
import pyspark
from IPython.core.interactiveshell import InteractiveShell
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pyspark.sql.types as T

In [ ]:
# Initialize a spark session.
MAX_MEMORY = "4G"
conf = (
    pyspark.SparkConf()
    .setMaster("local[*]")
    .set("spark.executor.heartbeatInterval", 10000)
    .set("spark.network.timeout", 10000)
    .set("spark.core.connection.ack.wait.timeout", "3600")
    .set("spark.executor.memory", MAX_MEMORY)
    .set("spark.driver.memory", MAX_MEMORY)
)
# initait ethe sperk session
spark = (
    SparkSession.builder.appName("ETL with Spark RDD").config(conf=conf).getOrCreate()
)

# Spark Syntax

### col functions

In [2]:
spark_df.where(f.col(column).isin([None, np.nan])).collect()
# spark_df.select(column).distinct().collect()

NameError: name 'spark_df' is not defined

### Date format conversion

convert the data to timestamp format `'1997-02-28 10:30:00'`using `regexp` from [https://pythex.org](https://pythex.org/)

In [3]:
df1 = spark.createDataFrame([("Fri Apr 17 20:30:31 PDT 2009",)], ["col_name"])
regexp_query = r"^([a-zA-Z]{3}) ([a-zA-Z]{3}) ([0-9]{1,2}) ([0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}) ([A-Z]{3}) ([0-9]{4})"
df2 = df1.select(
    f.concat(
        f.regexp_extract("col_name", regexp_query, 6),
        f.lit("-"),
        f.regexp_extract("col_name", regexp_query, 2),
        f.lit("-"),
        f.regexp_extract("col_name", regexp_query, 3),
        f.lit(" "),
        f.regexp_extract("col_name", regexp_query, 4),
    ).alias("new_date")
)
df2.show()

NameError: name 'spark' is not defined

### SQL queries

In [4]:
from pandasql import sqldf

arima_df = sqldf(
    f"SELECT * \
                 FROM df \
                 WHERE Retained >0   \
                  AND  AdmitTerm IN {convert_list_quesry_format(AdmitTerm_list)} \
                  AND  School IN {convert_list_quesry_format(schools_list)} \
                  AND  Program IN {convert_list_quesry_format(programs_list)} \
                  AND  NationalStatus IN {convert_list_quesry_format(nationalStatus_list)} \
                 ORDER BY AdmitTerm \
                 LIMIT 10;"
)

ModuleNotFoundError: No module named 'pandasql'

### RDD resilient distributed dataset

In [3]:
appName = "RDD tutorial"
master = "local"
conf = pyspark.SparkConf().setAppName(appName).setMaster(master)
sc = pyspark.SparkContext(conf=conf)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/12 03:25:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [1, 2, 3, 4, 5]
distData = sc.parallelize(data)
distData.reduce(lambda a, b: a + b)

15

In [12]:
distFile = sc.textFile("data/data.txt")
distFile.map(lambda s: len(s)).reduce(lambda a, b: a + 2 * b)

[1, 1, 1, 1, 1]

In [11]:
distFile = sc.textFile("data/data.zip")
distFile.map(lambda s: len(s)).show()

[40, 112, 51]